

<div class="row">
<div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body row">
        <center>
        <h4>Profile</h4>
      </center>
        <div class="col-md-12 col-sm-12">

        <%= image_tag(current_user.avatar.url, height: "70%", width: "100%", crop: "fill") %>
        <h4>Username: <%= current_user.username %></h4>

      </div>
      </div>
    </div>
  </div>


  <div class="col-xs-6 col-md-6">
    <%= render '/components/post_form' %>
      <% for @p in @posts %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><%= @p.content %></p>
          <p><%= @p.created_at.to_formatted_s(:short) %></p>
        </div>
      </div>
      <% end %>
    </div>


  <div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
      </h4>Who to Follow?</h4>
      <div  class="panel panel-default row">
        <div class="col-sm-6">
        <%= image_tag(@random_post.user.avatar.url, height:"70%", width:"100%", crop:"fill") %>
        <br> <%= @random_post.user.username %>
      </div>
      <div class="col-sm-6">
      <%= image_tag(@random_post1.user.avatar.url, height:"70%", width:"100%", crop:"fill") %>
      <br> <%= @random_post1.user.username %>
    </div>
      </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel body">
        <center>
        <h4>TRENDING</h4>
      </center>
        <div class="row">
        <p class="col-sm-8">
          <%= image_tag(@random_post1.user.avatar.url, height: "100%", width: "100%", crop: "fill") %>
        </p>
        <p class="col-sm-4">
          <%= @random_post1.user.username %>: <br>
          <%= (@random_post1.content).truncate_words(5) %>
        </p>
      </div>
      </div>
      <div class="row">
      <p class="col-sm-8">
        <%= image_tag(@random_post.user.avatar.url, height: "100%", width: "100%", crop: "fill") %>
      </p>
      <p class="col-sm-4">
        <%= @random_post.user.username %>: <br>
        <%= (@random_post.content).truncate_words(5) %>
      </p>
    </div>
    </div>
  </div>
</div>
