<!DOCTYPE html>
<html>
  <head>
    <title>Connection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/nav' %>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
